h1 {
  text-transform: uppercase;
}
h1, p {
  color: white;
}
.placeholder {
  width: 20px;
  display: inline-block;
}
.topnav {
    overflow: auto;
}

.topnav a {

}

@media screen and (max-width: 750px) {
  .topnav a {
    float: none;
    display: block;
    width: 100%;
  }
}
