/*
.placeholder {
  width: 20px;
  display: inline-block;
} */
.topnav {

}
.topnav a {
overflow: auto;
color: white;
}
.topnav a:hover{
  color:black;
  background-color:white;
}
.topnav span {
  width: 20px;
  display: inline-block;

}

@media screen and (max-width: 750px) {
  .topnav a {
    float: none;
    display: block;
    width: 100%;
    align:center;
  }
  .topnav span {
    width: 0;


  }
}
